* { margin: 0; padding: 0; box-sizing: border-box; }

header, footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
  background-color: #282c34;
}
.body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #464646;
  padding: 25px;
  min-height: 800px;
}
.score {
  display: flex;
  flex-direction: column;
  margin-bottom: 25px;
  border-radius: 10px;
  font-size: 22px;
  font-weight: bold;
}
.score p {
  margin-bottom: 10px;
}
.cardContainer {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  row-gap: 20px;
  column-gap: 20px;
  margin-bottom: 25px;
}
.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px;
  border-radius: 10px;
  height: 180px;
  width: 150px;
  background-color: #272b33;
  box-shadow: rgb(0 0 0 / 35%) 0px 5px 15px;
  transition: transform 0.3s ease 0s;
  user-select: none;
}
.card:hover { cursor: pointer; }
.imgContainer {
  height: 60%;
  width: 80%;
  padding: 20px;
  margin-bottom: 20px;
}
img { max-width: 100%; height: auto; }


